
.ipynb_checkpoints/MSci thesis - Software development of the Acre Road pulsar telescope-checkpoint.ipynb
.ipynb_checkpoints/MSci_thesis_Software_development_of_the_Acre_Road_pulsar_telescope-checkpoint.ipynb
